services:
  # Redis
  redis:
    image: redis:7-alpine
    container_name: auto-redis
    restart: unless-stopped

  # Migration
  migrate:
    image: auto-stock:test
    command: ["sh", "-c", "python manage.py makemigrations --noinput && python manage.py migrate --noinput"]
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    profiles: ["ops"]

  # Web Server (Uvicorn)
  web:
    build:
      context: .
    image: auto-stock:test
    container_name: auto-stock-web
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    ports:
      - "8000:8000"
    command: ["uvicorn", "auto_stock.asgi:application", "--host", "0.0.0.0", "--port", "8000"]

  # Websocket Worker
  websocket:
    image: auto-stock:test
    container_name: auto-stock-websocket
    restart: unless-stopped
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    command: ["python", "-m", "kis.websocket.util.kis_ws_client"]

  # Celery Worker
  celery-worker:
    image: auto-stock:test
    container_name: auto-stock-celery-worker
    restart: unless-stopped
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    command: ["celery", "-A", "auto_stock", "worker", "-l", "info"]

  # Celery Beat
  celery-beat:
    image: auto-stock:test
    container_name: auto-stock-celery-beat
    restart: unless-stopped
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    command: ["celery", "-A", "auto_stock", "beat", "-l", "info"]