services:
# Redis container
  redis:
    image: redis:7-alpine
    container_name: auto-redis
    restart: unless-stopped


  # Run migrations
  migrate:
    image: auto-stock:test
    command: ["sh","-lc","cd /app/auto_stock && python manage.py makemigrations --noinput && python manage.py migrate --noinput"]
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    profiles: ["ops"]

# Web container
  web:
    build:
      context: .
    image: auto-stock:test
    container_name: auto-stock-web
    ports:
      - "8000:8000"
    env_file:
      # from user space
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    command: >
      sh -lc "
      cd /app/auto_stock &&
      uvicorn auto_stock.asgi:application --host 0.0.0.0 --port 8000
      "

  # WS worker container 
  websocket:
    env_file:
      - ${HOME}/auto_stock.secret.env
    image: auto-stock:test
    container_name: auto-stock-websocket
    restart: unless-stopped
    environment:
      REDIS_URL: redis://redis:6379/0
    working_dir: /app/auto_stock
    command: >
      sh -lc "
      python -m kis.websocket.util.kis_ws_client
      "

  # Celery worker container
  celery-worker:
    image: auto-stock:test
    container_name: auto-stock-celery-worker
    restart: unless-stopped
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    working_dir: /app/auto_stock
    command: >
      sh -lc "
      celery -A auto_stock worker -l info
      "

  # Celery beat container
  celery-beat:
    image: auto-stock:test
    container_name: auto-stock-celery-beat
    restart: unless-stopped
    env_file:
      - ${HOME}/auto_stock.secret.env
    environment:
      REDIS_URL: redis://redis:6379/0
    working_dir: /app/auto_stock
    command: >
      sh -lc "
      celery -A auto_stock beat -l info
      "

networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: "1400"